/AeroSceneryCultivationEditor/bin/Release
/AeroScenery/CultivationCompilerConsole/obj/Debug
/CultivationCompiler/obj/Debug
/packages/**
/CultivationCompilerConsole/obj/Debug
/CultivationCompiler/bin/Debug
/.vs/AeroSceneryCultivation/v15/*.suo
/.vs/AeroSceneryCultivation/v15/Server/sqlite3
/CultivationCompilerConsole/bin/Debug
/CultivationCompilerConsole/*.user
/AeroSceneryCultivationEditor/bin/Debug/x86
/AeroSceneryCultivationEditor/bin/Debug
/AeroSceneryCultivationEditor/obj/Debug
/AeroSceneryCultivationEditor/obj/Release
/.vs/Source/v15/*.suo
/.vs/VSWorkspaceState.json
/.vs
/CultivationCompiler/obj/Release
/CultivationCompilerConsole/obj/Release
/SampleProjects/obj/Debug
